<%- include('partials/head') %>
<body>
    <h1>Homepage</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod perferendis at, ex laborum aliquid quas necessitatibus laudantium molestias nisi soluta adipisci quam a quibusdam. Doloribus eius veniam ipsam dolore quia?
    </p>
</body>
</html>